
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 2em;
    color: #333;
}

/* jednotlive sekce */
h2 {
    color: #333;
    font-size: 1.5em;
    margin-top: 30px;
    margin-bottom: 10px;
}

/* Formuláře */
form {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px auto;
    max-width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.1em;
    color: #555;
}

input[type="number"], input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Výsledek z formulářů */
p {
    text-align: center;
    font-size: 1.2em;
    color: #333;
    font-weight: bold;
}

/* Div Vysledky */
#result-prompt, #result-soucet2cisel, #result-sude-liche, 
#result-teplota, #result-kladne-zaporne-0, #result-obsahuje-a,
#result-obsahuje-pismenek, #result-prvocisla {
    color: #333;
    font-weight: normal;
    margin-top: 10px;
}

/* formuláře */
form#promptForm, form#sumForm, form#evenOddForm, 
form#temperatureForm, form#kladne/zaporne/0, form#obsahujeAForm, 
form#PocitaniPismenForm, form#prvocislaForm {
    margin-bottom: 30px;
}
